.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_cadb7tfuiie.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_cadb7tfuiie.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_cadb7tfuiie.woff2') format('woff2'), url('//at.alicdn.com/t/webfont_cadb7tfuiie.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_cadb7tfuiie.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_cadb7tfuiie.svg#AlibabaPuHuiTiL') format('svg');
    /* iOS 4.1- */
}

.web-font {
    font-family: "webfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
body,
img,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration-line: none;
}

li {
    list-style: none;
}

body {
    background-color: #efefef;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all .3s;
    width: 100%;
    margin: 0 auto;
    color: #c1c3c6;
}

.topNavBar.active {
    padding: 10px 0;
    background: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,.2)
}

.topNavBar-inner {
    max-width: 1550px;
    margin: 0 auto;
}

.topNavBar>.topNavBar-inner>.logo {
    font-size: 30px;
    font-weight: bold;
    color: #9a9da2;
    font-family: "Arial Black";
    float: left;
}

.topNavBar>.topNavBar-inner>.logo>.rs {
    color: #e8676b;
    margin-right: 3px;
}

.topNavBar nav>ul {
    float: right;
}

.topNavBar nav>ul>li {
    float: left;
    margin: 6px 0 0 30px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    color: inherit;
    line-height: 30px;
    border-bottom: 3px solid transparent;
    display: block;
    font-size: 14px;
}

@keyframes ejectSlide {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.topNavBar nav>ul>li>ul {
    margin-top: 3px;
    position: absolute;
    top: 100%;
    right: 0;
    white-space: nowrap;
    color: #000;
    font-size: 12px;
    background: #fff;
    padding: 5px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    display: none;
    cursor: pointer;
    animation: ejectSlide .2s
}

#navEject > li:hover {
    background: #f5f5f5;
}

.topNavBar nav>ul>li.active > ul{
    display: block;
}

.topNavBar nav>ul>li>ul>li {
    padding: 5px 20px;
}

@keyframes navSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar nav>ul>li.active > a::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #e8676b;
    animation: navSlide 0.3s
}

.topBg {
    height: 515px;
    background: url(./images/20180129080919_CAsdU.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.topBg:before {
    content: "";
    display: block;
    width: 100%;
    height: 515px;
    background-color: rgba(24, 9, 9, 0.6);
}

.myCard {
    max-width: 930px;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: 410px 520px;
    grid-template-rows: 400px 85px;
    margin-top: -340px;
    position: relative;
}

.myCard img {
    width: 300px;
    height: 350px;
    margin-left: 50px;
    object-fit: cover;
}

.myCard .main:before {
    content: "";
    width: 80px;
    height: 80px;
    border: 30px solid transparent;
    border-left-color: #e8676b;
    border-radius: 0 0 0 100%;
    position: absolute;
    right: -30px;
    top: 0;
}

.myCard .main {
    padding-right: 50px;
    margin-top: 4px;
}

.myCard footer {
    background-color: #e8676b;
    grid-column-start: span 2;
}

.main .welcome {
    background-color: #e8676b;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.main .triangle {
    box-sizing: border-box;
    display: block;
    border: 10px solid transparent;
    position: absolute;
    border-top-width: 0;
    border-left-color: #e8676b;
    left: 4px;
    top: 100%;
}

.main h1 {
    margin-top: 30px;
    color: #3e4450;
}

.main h2 {
    color: #3e4450;
    font-weight: 400;
    font-size: 15px;
}

.main hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0 0;
}

.main dt,
dd {
    margin: 0;
    width: 30%;
    float: left;
    color: #3e4450;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.main dd {
    font-weight: 400;
    width: 50%;
    color: #9da0a7;
}

.myCard {
    box-shadow: 0 2px 6px rgb(170, 170, 170);
}

.myCard footer svg {
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
}

.myCard footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCard footer a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border-radius: 50%;
    background-color: transparent;
}

.myCard footer a:hover {
    background-color: #d85358;
}

.downloadBox {
    text-align: center;
    margin: 40px 0 30px;
}

.downloadBox a {
    color: #3e4450;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #cbcdcf;
    padding: 18px 40px;
    line-height: 60px;
    box-sizing: border-box;
    border-radius: 3px;
}

.downloadBox a:hover {
    box-shadow: 0 8px 20px rgb(170, 170, 170);
    transition: box-shadow 0.2s;
}

.introduction {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 940px;
    text-align: center;
}

.introduction span {
    line-height: 2;
    font-size: 18px;
}

.skillBox {
    margin: 0 auto;
    max-width: 940px;
}

h3 {
    font-size: 34px;
    color: #3e4450;
    margin-top: 70px;
    text-align: center;
}

.skillMain {
    margin-top: 20px;
    padding: 40px 35px 5px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 6px rgb(170, 170, 170);
}

.skillMain>ol li {
    float: left;
    width: 50%;
    margin-bottom: 35px;
    padding: 0 15px;
    box-sizing: border-box;
}

.skillMain>ol li:nth-child(2n) {}

.skillMain h4 {
    font-size: 14px;
    color: #3e4450;
    font-weight: normal;
    margin-bottom: 2px;
}

.skillMain .skillBar {
    background-color: #f7e2e2;
    height: 5px;
    border-radius: 2px;
}

.skillMain .skillBar>.progress {
    width: 50%;
    height: 5px;
    background-color: #e8676b;
    border-radius: 2px;
}

.projectBox {
    width: 940px;
    margin: 0 auto;
}

.projectMain {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.projectMain nav {
    text-align: center;
    display: inline-block;
}

.projectMain nav>ul {
    display: inline-block;
}

.projectMain ul>li {
    float: left;
    padding: 30px 0 0 44px;
    font-size: 13px;
    color: #000;
}

.projectMain ul>li:hover {
    cursor: pointer;
}

.projectMain ul>li:nth-child(1) {
    padding-left: 0;
}

.projectMain .navBar {
    margin-top: 8px;
    height: 5px;
    background: #fff;
    width: 100%;
    display: block;
    border-radius: 2px;
}

.projectMain .navBar>.navBar-inner {
    transition: all 0.4s;
}

.projectMain .navBar>.navBar-inner.state-1 {
    width: 40px;
    background: #e8676b;
    height: 5px;
    border-radius: 2px;
}

.projectMain .navBar>.navBar-inner.state-2 {
    width: 40px;
    background: #e8676b;
    border-radius: 2px;
    height: 5px;
    margin-left: 60px;
}

.projectMain .navBar>.navBar-inner.state-3 {
    width: 79px;
    background: #e8676b;
    height: 5px;
    border-radius: 2px;
    margin-left: 137px;
}

.projectMain .projectInner {
    position: relative;
    height: 570px;
    margin: 30px 0 100px;
}

.projectMain .projectInner img:nth-child(1) {
    width: 625px;
    height: 570px;
    position: absolute;
    top: 0;
    left: 0;
}

.projectMain .projectInner img {
    width: 315px;
    height: 275px;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
}

.projectMain .projectInner img:nth-child(3) {
    width: 315px;
    height: 275px;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 295px;
}